/* Global styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #ffe6e6;
  /* Very light red */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f3e6ff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 20px;
}

.btn-primary {
  background-color: #6a5acd;
  border-color: #6a5acd;
}

.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.table {
  margin-top: 20px;
}

.card {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-control {
  border-radius: 10px;
}

label {
  font-weight: bold;
}

header,
footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header {
  margin-bottom: 20px;
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
}
